@use '../abstracts/variables' as v;

// Barra superior con título y acciones
.topbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: v.$espacio-md;

  &__titulo {
    font-size: 1.5rem;
  }

  &__acciones {
    display: flex;
    gap: v.$espacio-sm;
  }
}