@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.stats {
  display: grid;
  gap: v.$espacio-md;
  grid-template-columns: 1fr;

  @include m.respond-to(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include m.respond-to(desktop) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.stat {
  background-color: v.$color-fondo-card;
  padding: v.$espacio-md;
  border-radius: v.$radio-base;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.9);

  &__label {
    color: v.$color-texto-suave;
    font-size: 0.85rem;
  }

  &__valor {
    font-size: 1.4rem;
    font-weight: 700;
  }
}